spring:
  application:
    name: code-mother
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.yk.codemother.controller

# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn



